In [2]:
# !pip3 install langchain_community langchain-core

In [1]:
%pip install langchain_community langchain-core

Collecting langchain_community
  Downloading langchain_community-0.0.29-py3-none-any.whl.metadata (8.3 kB)
Collecting langchain-core
  Downloading langchain_core-0.1.33-py3-none-any.whl.metadata (6.0 kB)
Collecting PyYAML>=5.3 (from langchain_community)
  Downloading PyYAML-6.0.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (2.1 kB)
Collecting SQLAlchemy<3,>=1.4 (from langchain_community)
  Downloading SQLAlchemy-2.0.29-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.6 kB)
Collecting aiohttp<4.0.0,>=3.8.3 (from langchain_community)
  Downloading aiohttp-3.9.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (7.4 kB)
Collecting dataclasses-json<0.7,>=0.5.7 (from langchain_community)
  Downloading dataclasses_json-0.6.4-py3-none-any.whl.metadata (25 kB)
Collecting langsmith<0.2.0,>=0.1.0 (from langchain_community)
  Downloading langsmith-0.1.31-py3-none-any.whl.metadata (13 kB)
Collecting numpy<2,>=1 (from langchain_community)
  Downloading numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.1/61.1 kB 3.1 MB/s eta 0:00:00
Collecting requests<3,>=2 (from langchain_community)
  Downloading requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting tenacity<9.0.0,>=8.1.0 (from langchain_community)
  Downloading tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Collecting anyio<5,>=3 (from langchain-core)
  Downloading anyio-4.3.0-py3-none-any.whl.metadata (4.6 kB)
Collecting jsonpatch<2.0,>=1.33 (from langchain-core)
  Downloading jsonpatch-1.33-py2.py3-none-any.whl.metadata (3.0 kB)
Collecting packaging<24.0,>=23.2 (from langchain-core)
  Downloading packaging-23.2-py3-none-any.whl.metadata (3.2 kB)
Collecting pydantic<3,>=1 (from langchain-core)
  Downloading pydantic-2.6.4-py3-none-any.whl.metadata (85 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.1/85.1 kB 9.6 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2 (from aiohttp<4.0.0,>=3.8.3->langchain_community)
  Downloading aiosignal-1.3.1-py3-none-any.whl.metadata (4.0 kB)
Collecting attrs>=17.3.0 (from aiohttp<4.0.0,>=3.8.3->langchain_community)
  Downloading attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Collecting frozenlist>=1.1.1 (from aiohttp<4.0.0,>=3.8.3->langchain_community)
  Downloading frozenlist-1.4.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (12 kB)
Collecting multidict<7.0,>=4.5 (from aiohttp<4.0.0,>=3.8.3->langchain_community)
  Downloading multidict-6.0.5-cp312-cp312-macosx_11_0_arm64.whl.metadata (4.2 kB)
Collecting yarl<2.0,>=1.0 (from aiohttp<4.0.0,>=3.8.3->langchain_community)
  Downloading yarl-1.9.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (31 kB)
Collecting idna>=2.8 (from anyio<5,>=3->langchain-core)
  Downloading idna-3.6-py3-none-any.whl.metadata (9.9 kB)
Collecting sniffio>=1.1 (from anyio<5,>=3->langchain-core)
  Downloading sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Collecting marshmallow<4.0.0,>=3.18.0 (from dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading marshmallow-3.21.1-py3-none-any.whl.metadata (7.2 kB)
Collecting typing-inspect<1,>=0.4.0 (from dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Collecting jsonpointer>=1.9 (from jsonpatch<2.0,>=1.33->langchain-core)
  Downloading jsonpointer-2.4-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting orjson<4.0.0,>=3.9.14 (from langsmith<0.2.0,>=0.1.0->langchain_community)
  Downloading orjson-3.9.15-cp312-cp312-macosx_10_15_x86_64.macosx_11_0_arm64.macosx_10_15_universal2.whl.metadata (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.5/49.5 kB 4.5 MB/s eta 0:00:00
Collecting annotated-types>=0.4.0 (from pydantic<3,>=1->langchain-core)
  Downloading annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.16.3 (from pydantic<3,>=1->langchain-core)
  Downloading pydantic_core-2.16.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.5 kB)
Collecting typing-extensions>=4.6.1 (from pydantic<3,>=1->langchain-core)
  Downloading typing_extensions-4.10.0-py3-none-any.whl.metadata (3.0 kB)
Collecting charset-normalizer<4,>=2 (from requests<3,>=2->langchain_community)
  Downloading charset_normalizer-3.3.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (33 kB)
Collecting urllib3<3,>=1.21.1 (from requests<3,>=2->langchain_community)
  Downloading urllib3-2.2.1-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests<3,>=2->langchain_community)
  Downloading certifi-2024.2.2-py3-none-any.whl.metadata (2.2 kB)
Collecting mypy-extensions>=0.3.0 (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl.metadata (1.1 kB)
Downloading langchain_community-0.0.29-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 21.8 MB/s eta 0:00:0000:0100:01
Downloading langchain_core-0.1.33-py3-none-any.whl (269 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 269.1/269.1 kB 28.9 MB/s eta 0:00:00
Downloading aiohttp-3.9.3-cp312-cp312-macosx_11_0_arm64.whl (389 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 389.7/389.7 kB 36.4 MB/s eta 0:00:00
Downloading anyio-4.3.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.6/85.6 kB 12.2 MB/s eta 0:00:00
Downloading dataclasses_json-0.6.4-py3-none-any.whl (28 kB)
Downloading jsonpatch-1.33-py2.py3-none-any.whl (12 kB)
Downloading langsmith-0.1.31-py3-none-any.whl (71 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.6/71.6 kB 8.7 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.7/13.7 MB 49.9 MB/s eta 0:00:0000:0100:01
Downloading packaging-23.2-py3-none-any.whl (53 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.0/53.0 kB 5.6 MB/s eta 0:00:00
Downloading pydantic-2.6.4-py3-none-any.whl (394 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 394.9/394.9 kB 31.2 MB/s eta 0:00:00
Downloading pydantic_core-2.16.3-cp312-cp312-macosx_11_0_arm64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 48.8 MB/s eta 0:00:00
Downloading PyYAML-6.0.1-cp312-cp312-macosx_11_0_arm64.whl (165 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.6/165.6 kB 34.6 MB/s eta 0:00:00
Downloading requests-2.31.0-py3-none-any.whl (62 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.6/62.6 kB 7.7 MB/s eta 0:00:00
Downloading SQLAlchemy-2.0.29-cp312-cp312-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 45.4 MB/s eta 0:00:0000:01
Downloading tenacity-8.2.3-py3-none-any.whl (24 kB)
Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Downloading annotated_types-0.6.0-py3-none-any.whl (12 kB)
Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.8/60.8 kB 8.1 MB/s eta 0:00:00
Downloading certifi-2024.2.2-py3-none-any.whl (163 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 163.8/163.8 kB 18.3 MB/s eta 0:00:00
Downloading charset_normalizer-3.3.2-cp312-cp312-macosx_11_0_arm64.whl (119 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 119.4/119.4 kB 14.6 MB/s eta 0:00:00
Downloading frozenlist-1.4.1-cp312-cp312-macosx_11_0_arm64.whl (51 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.9/51.9 kB 5.1 MB/s eta 0:00:00
Downloading idna-3.6-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.6/61.6 kB 8.0 MB/s eta 0:00:00
Downloading jsonpointer-2.4-py2.py3-none-any.whl (7.8 kB)
Downloading marshmallow-3.21.1-py3-none-any.whl (49 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.4/49.4 kB 5.9 MB/s eta 0:00:00
Downloading multidict-6.0.5-cp312-cp312-macosx_11_0_arm64.whl (29 kB)
Downloading orjson-3.9.15-cp312-cp312-macosx_10_15_x86_64.macosx_11_0_arm64.macosx_10_15_universal2.whl (248 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 248.7/248.7 kB 25.9 MB/s eta 0:00:00
Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Downloading typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading urllib3-2.2.1-py3-none-any.whl (121 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.1/121.1 kB 19.0 MB/s eta 0:00:00
Downloading yarl-1.9.4-cp312-cp312-macosx_11_0_arm64.whl (79 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.4/79.4 kB 10.6 MB/s eta 0:00:00
Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: urllib3, typing-extensions, tenacity, sniffio, PyYAML, packaging, orjson, numpy, mypy-extensions, multidict, jsonpointer, idna, frozenlist, charset-normalizer, certifi, attrs, annotated-types, yarl, typing-inspect, SQLAlchemy, requests, pydantic-core, marshmallow, jsonpatch, anyio, aiosignal, pydantic, dataclasses-json, aiohttp, langsmith, langchain-core, langchain_community
  Attempting uninstall: packaging
    Found existing installation: packaging 24.0
    Uninstalling packaging-24.0:
      Successfully uninstalled packaging-24.0
Successfully installed PyYAML-6.0.1 SQLAlchemy-2.0.29 aiohttp-3.9.3 aiosignal-1.3.1 annotated-types-0.6.0 anyio-4.3.0 attrs-23.2.0 certifi-2024.2.2 charset-normalizer-3.3.2 dataclasses-json-0.6.4 frozenlist-1.4.1 idna-3.6 jsonpatch-1.33 jsonpointer-2.4 langchain-core-0.1.33 langchain_community-0.0.29 langsmith-0.1.31 marshmallow-3.21.1 multidict-6.0.5 mypy-extensions-1.0.0 numpy-1.26.4 orjson-3.9.15 packaging-23.2 pydantic-2.6.4 pydantic-core-2.16.3 requests-2.31.0 sniffio-1.3.1 tenacity-8.2.3 typing-extensions-4.10.0 typing-inspect-0.9.0 urllib3-2.2.1 yarl-1.9.4
Note: you may need to restart the kernel to use updated packages.

In [2]:
from langchain_community.llms import Ollama

In [3]:
llm = Ollama(model="llama2")
llm.invoke("The first man on the moon was ...")

'\nNeil Armstrong. He stepped foot on the moon on July 20, 1969 as part of the Apollo 11 mission.'

In [4]:
llm.invoke("Can you add an appropriate category next to each of the following expenses. Respond with a list of categories separated by commas. For example, Spotify AB by Adyen - \
Entertainment, Beta Boulders Ams Amsterdam Nld - Sports, etc.: \
Taxi Utrecht, Ministerie van Justitie en Veiligheid, Etos AMSTERDAM NLD, Bistro Bar Amsterdam")

'\nCertainly! Here are the expenses you provided, along with an appropriate category for each one:\n\n* Spotify AB by Adyen - Entertainment\n* Beta Boulders Ams Amsterdam Nld - Sports\n* Taxi Utrecht - Transportation\n* Ministerie van Justitie en Veiligheid - Government\n* Etos AMSTERDAM NLD - Grocery Store\n* Bistro Bar Amsterdam - Food and Drink\n\nI hope this helps! Let me know if you need any further assistance.'

In [6]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sangili/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/sangili/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp312-cp312-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 50.8 MB/s eta 0:00:00a 0:00:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 38.7 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 31.7 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.1 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

### Read transaction data

In [7]:
# Read the transactions_2022_2023.csv file 
import pandas as pd
df = pd.read_csv("transactions_2022_2023.csv")
df.head()

         Date        Name / Description Expense/Income  Amount (EUR)
0  2023-12-30           Belastingdienst        Expense          9.96
1  2023-12-30               Tesco Breda        Expense         17.53
2  2023-12-30   Monthly Appartment Rent        Expense        451.00
3  2023-12-30  Vishandel Sier Amsterdam        Expense         12.46
4  2023-12-29         Selling Paintings         Income         13.63

In [8]:
# Get unique transactions in the Name / Description column
unique_transactions = df["Name / Description"].unique()
len(unique_transactions)

23

In [9]:
unique_transactions[1:10]

array(['Tesco Breda', 'Monthly Appartment Rent',
       'Vishandel Sier Amsterdam', 'Selling Paintings',
       'Spotify Ab By Adyen', 'Tk Maxx Amsterdam Da', 'Consulting',
       'Aidsfonds', 'Tls Bv Inz Ov-Chipkaart'], dtype=object)

### Categorise bank transactions with Llama2

In [10]:
# Get index list
#https://stackoverflow.com/questions/47518609/for-loop-range-and-interval-how-to-include-last-step
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0, 23]

In [11]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    print(response)

    # Put in dataframe
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [12]:
# Test out the function
categorize_transactions('ISS Catering Services De Meern, Taxi Utrecht, Etos AMSTERDAM NLD, Bistro Bar Amsterdam',
                        llm)

['', 'Of course! Here are the categories for each of the expenses you provided:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. ISS Catering Services De Meern - Food', '4. Taxi Utrecht - Transportation', '5. Etos AMSTERDAM NLD - Grocery', '6. Bistro Bar Amsterdam - Dining']

,Transaction vs category,Transaction,Category
0,,,None
1,Of course! Here are the categories for each of...,Of course! Here are the categories for each of...,None
2,,,None
3,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
4,2. Beta Boulders Ams Amsterdam Nld - Sport,2. Beta Boulders Ams Amsterdam Nld,Sport
5,3. ISS Catering Services De Meern - Food,3. ISS Catering Services De Meern,Food
6,4. Taxi Utrecht - Transportation,4. Taxi Utrecht,Transportation
7,5. Etos AMSTERDAM NLD - Grocery,5. Etos AMSTERDAM NLD,Grocery
8,6. Bistro Bar Amsterdam - Dining,6. Bistro Bar Amsterdam,Dining

In [13]:
# Intialise the categories_df_all dataframe
categories_df_all = pd.DataFrame()

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    categories_df = categorize_transactions(transaction_names, llm)
    categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)

['', 'Sure! Here are the categories I would suggest for each of the expenses you provided:', '', '1. Belastingdienst - Taxes', '2. Tesco Breda - Groceries', '3. Monthly Appartment Rent - Housing', '4. Vishandel Sier Amsterdam - Food Delivery', '5. Selling Paintings - Art Sales', '6. Spotify Ab By Adyen - Music Streaming', '7. Tk Maxx Amsterdam Da - Clothing Store', '8. Consulting - Professional Services', '9. Aidsfonds - Charity Donations', '10. TLS BV Inz Ov-Chipkaart - Transportation', '11. Etos Amsterdam - Convenience Store', '12. Beta Boulders Ams Amsterdam - Fitness', '13. Salary - Personal Expenses', '14. Bouldermuur Bv Amsterdam - Fitness', '15. Birtat Restaurant Amsterdam - Dining', '16. Freelancing - Personal Services', '17. Tikkie - Financial Services', '18. Blogging - Personal Expenses', '19. Taxi Utrecht - Transportation', '20. Apple Services - Tech Services', '21. Amazon Lux - Online Shopping', '22. Classpass* Monthly - Fitness', '23. Audible Uk AdblCo/Pymt Gbr - Entertainment', '', 'Please note that these categories are just suggestions and you can adjust them according to your personal preferences or needs. Also, some of the expenses may belong to more than one category.']

In [14]:
categories_df_all

,Transaction vs category,Transaction,Category
0,,,None
1,Sure! Here are the categories I would suggest ...,Sure! Here are the categories I would suggest ...,None
2,,,None
3,1. Belastingdienst - Taxes,1. Belastingdienst,Taxes
4,2. Tesco Breda - Groceries,2. Tesco Breda,Groceries
5,3. Monthly Appartment Rent - Housing,3. Monthly Appartment Rent,Housing
6,4. Vishandel Sier Amsterdam - Food Delivery,4. Vishandel Sier Amsterdam,Food Delivery
7,5. Selling Paintings - Art Sales,5. Selling Paintings,Art Sales
8,6. Spotify Ab By Adyen - Music Streaming,6. Spotify Ab By Adyen,Music Streaming
9,7. Tk Maxx Amsterdam Da - Clothing Store,7. Tk Maxx Amsterdam Da,Clothing Store
10,8. Consulting - Professional Services,8. Consulting,Professional Services
11,9. Aidsfonds - Charity Donations,9. Aidsfonds,Charity Donations
12,10. TLS BV Inz Ov-Chipkaart - Transportation,10. TLS BV Inz Ov-Chipkaart,Transportation
13,11. Etos Amsterdam - Convenience Store,11. Etos Amsterdam,Convenience Store
14,12. Beta Boulders Ams Amsterdam - Fitness,12. Beta Boulders Ams Amsterdam,Fitness
15,13. Salary - Personal Expenses,13. Salary,Personal Expenses
16,14. Bouldermuur Bv Amsterdam - Fitness,14. Bouldermuur Bv Amsterdam,Fitness
17,15. Birtat Restaurant Amsterdam - Dining,15. Birtat Restaurant Amsterdam,Dining
18,16. Freelancing - Personal Services,16. Freelancing,Personal Services
19,17. Tikkie - Financial Services,17. Tikkie,Financial Services
20,18. Blogging - Personal Expenses,18. Blogging,Personal Expenses
21,19. Taxi Utrecht - Transportation,19. Taxi Utrecht,Transportation
22,20. Apple Services - Tech Services,20. Apple Services,Tech Services
23,21. Amazon Lux - Online Shopping,21. Amazon Lux,Online Shopping
24,22. Classpass* Monthly - Fitness,22. Classpass* Monthly,Fitness
25,23. Audible Uk AdblCo/Pymt Gbr - Entertainment,23. Audible Uk AdblCo/Pymt Gbr,Entertainment
26,,,None
27,Please note that these categories are just sug...,Please note that these categories are just sug...,None

In [50]:
# categories_df_all.to_csv("categories_df_all.csv", index=False)

In [15]:
# Get unique categories in categories_df_all
unique_categories = categories_df_all["Category"].unique()
unique_categories

array([None, 'Taxes', 'Groceries', 'Housing', 'Food Delivery',
       'Art Sales', 'Music Streaming', 'Clothing Store',
       'Professional Services', 'Charity Donations', 'Transportation',
       'Convenience Store', 'Fitness', 'Personal Expenses', 'Dining',
       'Personal Services', 'Financial Services', 'Tech Services',
       'Online Shopping', 'Entertainment'], dtype=object)

In [16]:
# Drop NA values
categories_df_all = categories_df_all.dropna()

# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
# If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
# If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
# If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
# If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
# If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [17]:
# Remove the numbering eg "1. " from Transaction column
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')
categories_df_all

/var/folders/vm/3_lyvpks41xg6_kw_0xqs_v80000gn/T/ipykernel_2900/2440992137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')

,Transaction vs category,Transaction,Category
3,1. Belastingdienst - Taxes,1. Belastingdienst,Taxes
4,2. Tesco Breda - Groceries,2. Tesco Breda,Groceries
5,3. Monthly Appartment Rent - Housing,3. Monthly Appartment Rent,Housing
6,4. Vishandel Sier Amsterdam - Food Delivery,4. Vishandel Sier Amsterdam,Food and Drinks
7,5. Selling Paintings - Art Sales,5. Selling Paintings,Art Sales
8,6. Spotify Ab By Adyen - Music Streaming,6. Spotify Ab By Adyen,Music Streaming
9,7. Tk Maxx Amsterdam Da - Clothing Store,7. Tk Maxx Amsterdam Da,Clothing
10,8. Consulting - Professional Services,8. Consulting,Services
11,9. Aidsfonds - Charity Donations,9. Aidsfonds,Charity Donations
12,10. TLS BV Inz Ov-Chipkaart - Transportation,10. TLS BV Inz Ov-Chipkaart,Transportation
13,11. Etos Amsterdam - Convenience Store,11. Etos Amsterdam,Convenience Store
14,12. Beta Boulders Ams Amsterdam - Fitness,12. Beta Boulders Ams Amsterdam,Fitness
15,13. Salary - Personal Expenses,13. Salary,Personal Expenses
16,14. Bouldermuur Bv Amsterdam - Fitness,14. Bouldermuur Bv Amsterdam,Fitness
17,15. Birtat Restaurant Amsterdam - Dining,15. Birtat Restaurant Amsterdam,Dining
18,16. Freelancing - Personal Services,16. Freelancing,Services
19,17. Tikkie - Financial Services,17. Tikkie,Services
20,18. Blogging - Personal Expenses,18. Blogging,Personal Expenses
21,19. Taxi Utrecht - Transportation,19. Taxi Utrecht,Transportation
22,20. Apple Services - Tech Services,20. Apple Services,Services
23,21. Amazon Lux - Online Shopping,21. Amazon Lux,Online Shopping
24,22. Classpass* Monthly - Fitness,22. Classpass* Monthly,Fitness
25,23. Audible Uk AdblCo/Pymt Gbr - Entertainment,23. Audible Uk AdblCo/Pymt Gbr,Entertainment

In [18]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions_2022_2023.csv")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
df = pd.merge(df, categories_df_all, left_on='Name / Description', right_on='Transaction', how='left')
df

,Date,Name / Description,Expense/Income,Amount (EUR),Transaction vs category,Transaction,Category
0,2023-12-30,Belastingdienst,Expense,9.96,NaN,NaN,NaN
1,2023-12-30,Tesco Breda,Expense,17.53,NaN,NaN,NaN
2,2023-12-30,Monthly Appartment Rent,Expense,451.00,NaN,NaN,NaN
3,2023-12-30,Vishandel Sier Amsterdam,Expense,12.46,NaN,NaN,NaN
4,2023-12-29,Selling Paintings,Income,13.63,NaN,NaN,NaN
5,2023-12-29,Spotify Ab By Adyen,Expense,12.19,NaN,NaN,NaN
6,2023-12-23,Tk Maxx Amsterdam Da,Expense,27.08,NaN,NaN,NaN
7,2023-12-22,Consulting,Income,541.57,NaN,NaN,NaN
8,2023-12-22,Aidsfonds,Expense,10.70,NaN,NaN,NaN
9,2023-12-20,Consulting,Income,2641.93,NaN,NaN,NaN
10,2023-12-19,Tls Bv Inz Ov-Chipkaart,Expense,18.90,NaN,NaN,NaN
11,2023-12-18,Etos Amsterdam,Expense,17.67,NaN,NaN,NaN
12,2023-12-18,Tesco Breda,Expense,8.81,NaN,NaN,NaN
13,2023-12-18,Beta Boulders Ams Amsterdam,Expense,6.94,NaN,NaN,NaN
14,2022-11-26,Salary,Income,14.36,NaN,NaN,NaN
15,2022-11-26,Bouldermuur Bv Amsterdam,Expense,19.27,NaN,NaN,NaN
16,2022-11-26,Birtat Restaurant Amsterdam,Expense,24.71,NaN,NaN,NaN
17,2022-11-25,Tesco Breda,Expense,17.35,NaN,NaN,NaN
18,2022-11-24,Freelancing,Income,2409.55,NaN,NaN,NaN
19,2022-11-19,Tikkie,Expense,20.76,NaN,NaN,NaN
20,2022-10-25,Blogging,Income,4044.27,NaN,NaN,NaN
21,2022-10-24,Taxi Utrecht,Expense,18.90,NaN,NaN,NaN
22,2022-10-23,Tesco Breda,Expense,27.54,NaN,NaN,NaN
23,2022-10-22,Apple Services,Expense,41.25,NaN,NaN,NaN
24,2022-10-21,Tesco Breda,Expense,22.80,NaN,NaN,NaN
25,2022-01-16,Amazon Lux,Expense,24.11,NaN,NaN,NaN
26,2022-01-15,Classpass* Monthly,Expense,30.08,NaN,NaN,NaN
27,2022-01-14,Audible Uk AdblCo/Pymt Gbr,Expense,11.00,NaN,NaN,NaN

In [19]:
df.to_csv("transactions_2022_2023_categorized.csv", index=False)